@include desktop {

}

@include tablet {

  .header__inner {
    flex-wrap: nowrap;
    margin: 0 10px;
  }

  .header__menu-item {
    font-size: 18px;
  }

  .hero__title {
    font-size: 40px;
    max-width: 330px;
  }

}

@include tablet_small {
}

@include mobile {
}
